*{
    padding:0px;
    margin:0px;
}

#container {
    width:100%;
    overflow:hidden;
}

/* 980px
/*
menú animado
*/

#content{
    width:1000px;
    margin:0 auto 0 2px;

}



#content li{
    position:relative;
    display:block;
    float:left;
    overflow:hidden;
    margin: 5px 5px;
}

/*.imagen{
    height:20px;
}*/

.tapa {
    position:absolute;
    top:0px;
    display:block;
    background-color:rgba(0, 0, 0, 0.65);
    height:200px;

    padding:10px;

    color:#fff;
    font-size:12px;
    text-align:center;

    visibility:hidden;
}

.ancha{
    width:295px;
}
/*.estrecha{
    width:160px;
}*/

/*

*/



/*footer{
    width:100%;
    text-align:center;
    background-color:#3b3c4e;
    color:#fff;
    height:100px;
    line-height:80px;
    position:fixed;
    bottom:0px;
}
*/
